modules = ["nodejs-20", "web", "python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "AI Agent"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd retail-ai-agent/app/frontend && npm run dev -- -p 5000 -H 0.0.0.0"
waitForPort = 5000

[[workflows.workflow]]
name = "AI Agent"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd retail-ai-agent && PYTHONPATH=. python app/frontend/backend/main.py"
waitForPort = 8000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist"

[userenv]

[userenv.shared]
VITE_SUPABASE_URL = "https://lyckinrvtdizydeomzvi.supabase.co"
VITE_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx5Y2tpbnJ2dGRpenlkZW9tenZpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU4MjYzMTQsImV4cCI6MjA4MTQwMjMxNH0.mB4igwPNKNpYSA0q45SRvEayL1XsrFTz8vgnavbOQM8"
GOOGLE_API_KEY = "AIzaSyA-W0Nf8LQ4ozqYbFzRVpoeJUYnnRGk24k"
MAPS_API_KEY = "AIzaSyA-W0Nf8LQ4ozqYbFzRVpoeJUYnnRGk24k"
GOOGLE_GENAI_USE_VERTEXAI = "FALSE"
